body {
     font-family: &#39;
    Karla&#39;
    , sans-serif !important;
}
 body[data-theme-style="dark"].bg-white {
     background: var(--body-bg) !important;
}
 .modal-header {
border-bottom: 1px solid #dee2e6;
    padding: 0px 0px 12px 12px;
}
 .modal-subheader {
     padding: 0 1rem;
     border-bottom: 0;
     margin: 0;
}
 .modal-content {
     padding: 1rem;
     border: none;
     box-shadow: none;
     -webkit-box-shadow: none;
      font-size:larger;
}
/* Forms */
 .input-group-text {
     font-size: 0.9rem;
}
/* Footer */
 .footer {
     padding: 4rem 0;
     margin: 6rem 0 0 0;
     font-size: 0.95rem;
     background: var(--footer-bg);
}
 .footer {
     color: rgba(255, 255, 255, 0.65);
}
 .footer a:not(.dropdown-item), .footer a:hover:not(.dropdown-item) {
     color: rgba(255, 255, 255, 0.65);
}
 .footer a.icon {
     color: rgba(255, 255, 255, 0.65);
}
 .icon-facebook:hover {
     transition: color 0.3s ease-in-out;
     color: #4267B2 !important;
}
 .icon-twitter:hover {
     transition: color 0.3s ease-in-out;
     color: #1DA1F2 !important;
}
 .icon-instagram:hover {
     transition: color 0.3s ease-in-out;
     color: #d84614 !important;
}
 .icon-youtube:hover {
     transition: color 0.3s ease-in-out;
     color: #FF0000 !important;
}
 .footer-logo {
     width: 75px;
     max-width: 75px;
     height: auto;
     filter: grayscale(100%);
}
/* Custom breadcrumbs */
 .custom-breadcrumbs {
     list-style: none;
     padding: 0;
     display: flex;
}
 .custom-breadcrumbs &gt;
 li {
     margin-right: .5rem;
}
 .custom-breadcrumbs &gt;
 li &gt;
 a {
     color: var(--gray);
}
 .custom-breadcrumbs &gt;
 li &gt;
 svg {
     color: var(--gray-400);
     margin-left: .5rem;
}
 .custom-breadcrumbs &gt;
 li.active {
}
/* Helper classes */
 .list-style-none {
     list-style: none;
     padding: 0;
}
 .clickable {
     cursor: pointer;
}
 .no-underline, .no-underline:hover{
     text-decoration: none;
}
 .icon-stripe {
     color: #6772E5;
}
 .icon-paypal {
     color: #283B81;
}
 .icon-favicon {
     width: 1rem;
     height: 1rem;
}
/* Navbar custom menu */
 .navbar .dropdown-item svg {
     color: var(--gray-700);
}
 .navbar .dropdown-item:active svg {
     color: var(--white);
}
 .navbar-main {
     min-height: 0 !important;
     z-index: 1;
     background: var(--white);
     border-bottom: 1px solid var(--gray-300);
}
 [data-theme-style=&quot;
dark&quot;
] .navbar-main {
     border-bottom: 1px solid var(--gray-100);
}
 .navbar-index {
     background: transparent;
     border-bottom: none;
}
 .navbar-index .navbar-brand {
     color: #fff !important;
}
 .navbar-index .navbar-nav .nav-link {
     color: rgba(255,255,255,.85) !important;
}
 .navbar-index .navbar-nav .nav-link:hover, .navbar-index .navbar-nav .nav-link:focus {
     color: rgba(255,255,255,.75) !important;
}
 .navbar-absolute {
     position: absolute;
     width: 100%;
     margin: 0;
}
 .navbar-main .navbar-nav &gt;
 li &gt;
 a {
     padding: 1rem !important;
}
 .navbar-logo {
     max-height: 2.5rem;
     height: 2.5rem;
}
 .navbar-avatar {
     width: 20px;
     height: 20px;
     border-radius: 50%;
}
 .navbar-custom-toggler {
     padding: 0.5rem .8rem;
     font-size: 1.25rem;
     line-height: 1;
     background-color: transparent;
     border-radius: .25rem;
     color: var(--gray-700);
     border-color: var(--gray-300);
}
 .navbar-dark .navbar-nav .nav-link {
     color: rgba(255,255,255,.85);
}
 .chart-container {
     position: relative;
     margin: auto;
     height: 250px;
     width: 100%;
}
/* Dropdown */
 .dropdown-toggle-simple::after {
     display:none;
}
/* Nav pills custom */
 .nav-custom .nav-link {
     border-bottom: 3px solid var(--gray-300);
     transition: all .3s ease-in-out;
     color: var(--gray-600);
}
 .nav-custom .nav-link:hover {
     color: var(--primary-900);
    /*background: var(--primary-100);
    */
     border-color: var(--primary-700);
}
 .nav-custom .nav-link.active {
     color: var(--primary-900);
    /*background: var(--primary-100);
    */
     border-color: var(--primary-900);
}
/* Index */
 .index-container {
     width: 100%;
     padding: 14rem 0 14rem 0;
     color: white;
     background: url(&#39;
    ../images/blob.svg&#39;
    );
     background-repeat: no-repeat;
     background-position: bottom;
     background-size: cover;
}
 [data-theme-style=&quot;
dark&quot;
] .index-container {
     background: none;
}
 @media (min-width: 576px) {
     .index-container::before {
         left: -20%;
         top: 48%;
    }
}
 @media (min-width: 768px) {
}
 @media (min-width: 992px) {
}
 @media (min-width: 1200px) {
     .index-container::after {
         height: 130px;
         width: 155px;
         right: 0;
         top: 12%;
    }
     .index-container::before {
         left: -12%;
         top: 48%;
    }
}
 @keyframes index_container_blob {
     from {
        /*border-radius: 125%;
        */
         transform: scale(0.4);
    }
     to {
        /*border-radius: 75% 50% 85% 50%;
        */
         transform: scale(1);
    }
}
 .index-image {
     width: 100%;
     height: auto;
     position: absolute;
     top: -5rem;
}
 @media (min-width: 1375px) {
     .index-image {
         width: 115%;
    }
}
 .index-header {
     font-size: 3.2rem;
     font-weight: bold;
}
 .index-subheader {
     font-size: 1.35rem;
}
 .index-button {
     padding: 1rem 1.7rem;
     font-size: 1rem;
     letter-spacing: 0.15rem;
     font-weight: bold;
     text-transform: uppercase;
     box-shadow: 0 0 .8rem 0 rgba(136, 152, 170, .15) !important;
     transition: all .3s ease-in-out;
}
/* Header container */
 .header {
     padding: 4rem 0 3rem 0;
     margin-bottom: 1rem;
}
 .user-avatar {
     border-radius: 50%;
     max-width: 80px;
     max-height: 80px;
}
/* Link Settings page */
 .link-image-preview {
     width: 125px;
     height: 125px;
     border-radius: 50%;
     border: .1rem dashed var(--gray-400);
     padding: .5rem;
}
 .link-background-type-preset {
     width: 100%;
     height: 8rem;
     border-radius: .25rem;
     opacity: .75;
     transition: .3s opacity;
}
 .link-background-type-preset:hover {
     cursor: pointer;
}
 input[type=&quot;
radio&quot;
]:checked ~ .link-background-type-preset {
     opacity: 1;
}
 .link-background-type-image {
     border-radius: .25rem;
     margin-bottom: .5rem;
}
/* Biolink preview iframe */
 .biolink-preview-container {
}
 .biolink-preview {
     position: relative;
     margin: 0 auto;
     height: auto;
     width: auto;
     display: inline-block;
     text-align: left;
     border-radius: 4rem;
     padding: .7rem;
     background: linear-gradient(45deg,#444,#111);
     box-shadow: 0 0px 30px rgba(0,0,0,0.20);
     border: .3rem solid #444546;
}
 @media (min-width: 768px) {
     .biolink-preview {
         position: sticky;
         top: .5rem;
    }
}
 .biolink-preview-iframe-container {
     overflow: hidden;
     width: 300px;
     height: 625px;
     border-radius: 3rem;
     position: relative;
}
 @media (min-width: 768px) {
     .biolink-preview-iframe-container {
         width: 375px;
         height: 825px;
    }
}
 .biolink-preview-iframe {
     width: 100%;
     height: 100%;
     border: 0;
     margin: 0;
     padding: 0;
}
/* Others */
 .trigger-type-select {
     max-width: 150px !important;
}
 .container-disabled {
     pointer-events: none;
     opacity: .5;
}
 .container-disabled-simple {
     pointer-events: none;
}
/* custom shadow cards */
 .card-shadow {
     box-shadow: 0 0 .8rem 0 rgba(136, 152, 170, .15) !important;
     border: 1px solid rgba(0,0,0,.05);
}
/* Other animations */
 @keyframes slowbounce {
     from {
         -webkit-transform: translateY(0px);
         transform: translateY(0px);
    }
     to {
         -webkit-transform: translateY(-30px);
         transform: translateY(-30px);
    }
}
/* Animate dropdown menu */
 .dropdown .dropdown-menu{
     animation-name: opacityIn;
     animation-duration: 0.3s;
}
 @keyframes opacityIn {
     from {
         opacity: .3;
    }
     to {
         opacity: 1;
    }
}
/* Custom row */
 .custom-row {
     border-radius: .25rem;
     padding: .75rem;
     position: relative;
     border: 2px solid var(--gray-200);
     background: var(--white);
}
 [data-theme-style=&quot;
dark&quot;
] .custom-row {
     border-color: var(--gray-100);
}
 @media (min-width: 768px) {
     .custom-row {
         padding: 1.5rem;
    }
}
 .custom-row-inactive {
     background: var(--gray-200);
}
 .custom-row-side-controller {
     right: 100%;
     top: 25%;
     font-size: 1.2em;
     padding: .2em .2em;
}
 @media (min-width: 768px) {
}
 @media (min-width: 992px) {
     .custom-row-side-controller {
         position: absolute;
         padding: .4em .8em;
    }
}
 .custom-row-side-controller-grab {
     cursor: grab;
}
/* Tables */
 .table-custom-container {
    /*box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    */
     border-radius: .25rem;
     border: 2px solid var(--gray-200);
}
 .table-custom {
     margin-bottom: 0;
}
 .table-custom thead th {
     border-top: 0;
     border-bottom: 0;
    /*background: var(--black);
    */
    /*color: var(--gray-200)*/
     background: var(--gray-100);
     color: var(--gray-900) 
}
 .table-custom th {
     padding: 1.25rem 1rem;
}
 .table-custom td {
     padding: 1.75rem 1rem;
     background: var(--white);
     vertical-align: middle;
}
 .table-custom tbody tr {
     transition: all .3s ease-in-out;
}
 .table-custom tbody tr:hover td {
     background: var(--gray-100);
}
/* Custom PRE container */
 .pre-custom {
     box-shadow: 0px 0px 20px #0000001a;
     background: white;
     padding: 2rem;
     font-size: 0.75rem;
}
/* Helpers */
 .appearance-none {
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
}
 .select-custom-altum {
     background: url(&quot;
    data:image/svg+xml,%3csvg xmlns=&#39;
    http://www.w3.org/2000/svg&#39;
     viewBox=&#39;
    0 0 4 5&#39;
    %3e%3cpath fill=&#39;
    %232D3748&#39;
     d=&#39;
    M2 0L0 2h4zm0 5L0 3h4z&#39;
    /%3e%3c/svg%3e&quot;
    ) no-repeat right .75rem center/8px 10px;
     padding: .375rem 1.75rem .375rem .75rem;
     background-color: var(--gray-200);
}
 [data-theme-style=&quot;
dark&quot;
] .select-custom-altum {
     background-color: var(--gray-100);
}
 .zoomer {
     transition: transform .3s ease-in-out;
}
 .zoomer:hover {
     transform: scale(1.02);
}
/* Headers */
 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
     font-weight: 600;
}
 h1, .h1 {
     font-size: 2.25rem;
}
/* Highlight color pickers */
 .pickr .pcr-button {
     border: 1px solid var(--gray-300) 
}
/* Pricing */
 .pricing-container {
     width: 80vw;
     position: relative;
     left: calc(-40vw + 50%);
}
 .pricing {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
     margin: 0 auto 3em;
}
 .pricing-plan {
     display: flex;
     flex-direction: column;
     flex: 0 1 360px;
     border-radius: .5rem;
     margin: 0 1.5rem 1.5rem 1.5rem;
     overflow: hidden;
     border: 1px solid var(--gray-300);
}
 .pricing-header {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 2.2rem 2.2rem 0 2.2rem;
     border-bottom: 1px solid var(--gray-200);
}
 [data-theme-style=&quot;
dark&quot;
] .pricing-header {
     border-color: var(--gray-100);
}
 .pricing-name {
     background: var(--primary-200);
     padding: .15rem 1.25rem;
     color: var(--primary-600);
     font-size: .9rem;
     font-weight: bold;
     border-radius: 5rem;
}
 .pricing-price {
     margin: 1rem 0;
}
 .pricing-price-amount {
     font-size: 3.3rem;
     font-weight: bold;
}
 .pricing-price-currency {
     font-size: .9rem;
     color: var(--gray);
}
 .pricing-details {
     text-align: center;
     font-size: .85rem;
     color: var(--primary-800);
     margin-bottom: 1.5rem;
}
 .pricing-body {
     padding: 0 2.2rem 2.2rem 2.2rem;
     background: var(--white);
}
 .pricing-features {
     margin: 3rem 0;
     list-style: none;
     padding: 0;
}
 .pricing-features li {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 1rem 0;
}
 .pricing-button {
     font-weight: bold;
     font-size: 1.1rem;
     border-radius: 50rem;
}
/* Custom Radio Boxes */
 .custom-radio-box {
     cursor: pointer;
}
 .custom-radio-box .custom-radio-box-main-text {
     font-size: 2.25rem;
}
 .custom-radio-box .custom-radio-box-main-icon {
     font-size: 2.5rem;
}
 .custom-radio-box input[type=&quot;
radio&quot;
] + div {
     transition: all .3s ease-in-out;
     border: 2px solid var(--gray-200);
     background: var(--white);
}
 .custom-radio-box input[type=&quot;
radio&quot;
]:checked + div {
    /*background: var(--primary);
    */
    /*color: white;
    */
     border: 2px solid var(--primary);
}
/* Projects */
 .project-avatar {
     width: 45px;
     height: 45px;
}
/* Round circles */
 .round-circle-md {
     width: 2.5rem;
     height: 2.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
}
 .round-circle-lg {
     width: 4.5rem;
     height: 4.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
}
/* Gradients */
 .bg-gradient-primary {
     background: linear-gradient(230deg, #759bff, #843cf6);
}
 .bg-gradient-secondary {
     background: linear-gradient(to right, #e7ebf0, #868e96);
}
 .bg-gradient-success {
     background: linear-gradient(45deg, #7bffce, #30c93e);
}
 .bg-gradient-info {
     background: linear-gradient(190deg, #64ddf1, #3c98f6);
}
 .bg-gradient-warning {
     background: linear-gradient(135deg, #ffc480, #ff763b);
}
 .bg-gradient-danger {
     background: linear-gradient(316deg, #fc5286, #fbaaa2);
}
 .bg-gradient-light {
     background: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
}
 .bg-gradient-dark {
     background: linear-gradient(to right, #7d7979 0%, #000000 100%);
}
/* Badge colors */
 .badge-primary {
     color: hsl(211, 100%, 35%);
     background-color: hsl(211, 100%, 85%);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-primary {
     background-color: hsl(211, 100%, 35%);
     color: hsl(211, 100%, 85%);
}
 .badge-secondary {
     color: hsl(208, 7%, 35%);
     background-color: hsl(208, 7%, 85%);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-secondary {
     background-color: hsl(208, 7%, 35%);
     color: hsl(208, 7%, 85%);
}
 .badge-success {
     color: hsla(134, 50%, 30%, 1);
     background-color: hsla(134, 50%, 85%, 1);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-success {
     background-color: hsla(134, 50%, 30%, 1);
     color: hsla(134, 50%, 85%, 1);
}
 .badge-danger {
     color: hsla(354, 70%, 35%, 1);
     background-color: hsla(354, 70%, 85%, 1);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-danger {
     background-color: hsla(354, 70%, 35%, 1);
     color: hsla(354, 70%, 85%, 1);
}
 .badge-warning {
     background-color: hsla(45, 100%, 85%, 1);
     color: hsla(40, 80%, 30%, 1);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-warning {
     background-color: hsla(50, 10%, 20%, 1);
     color: hsla(45, 100%, 85%, 1);
}
 .badge-info {
     color: hsla(188, 60%, 30%, 1);
     background-color: hsla(188, 78%, 85%, 1);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-info {
     background-color: hsla(188, 60%, 30%, 1);
     color: hsla(188, 78%, 85%, 1);
}
 .badge-light {
     color: hsla(210, 15%, 35%, 1);
     background-color: hsl(210, 17%, 95%);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-light {
     background-color: hsla(210, 15%, 35%, 1);
     color: hsl(210, 17%, 95%);
}
 .badge-dark {
     color: hsla(210, 10%, 90%, 1);
     background-color: hsla(210, 10%, 20%, 1);
}
 [data-theme-style=&quot;
dark&quot;
] .badge-dark {
     background-color: hsla(210, 10%, 90%, 1);
     color: hsla(210, 10%, 20%, 1);
}
/* Invoice css */
 .invoice-table th {
     border-top: 0 !important;
}
 @media print {
     .invoice-logo {
         filter: grayscale(100%);
    }
}
 .link-html {
     min-height: 100%;
}
 .link-content {
     padding-top: 2rem;
}
 .link-image {
     width: 125px;
     height: 125px;
     border-radius: 50%;
     margin-bottom: 1rem;
}
 .link-verified {
     color: #3897F0;
}
 .link-btn {
     position: relative;
     white-space: normal;
     word-wrap: break-word;
     padding: 1rem 4.5rem;
     font-size: 1.1rem;
     box-shadow: 0 0 20px #00000010;
     border: 0;
     transition: opacity 0.3s, background 0.3s;
     border-radius: 0;
}
 .link-btn:hover {
     animation: none;
}
 .link-btn-round {
     border-radius: .3rem;
}
 .link-btn-rounded {
     border-radius: 50px;
}
 .link-btn-image-wrapper {
     overflow: hidden;
     width: 100%;
     height: 100%;
     max-width: 45px;
     max-height: 45px;
     position: absolute;
     top: 50%;
     margin-top: -22.5px;
     margin-left: -4.1rem;
}
 .link-btn-image {
     width: 100%;
     height: auto;
}
 .link-iframe-round {
     border-radius: .3rem;
     overflow:hidden;
     position:relative;
}
 .tiktok-embed {
     border-radius: .3rem !important;
}
 .link-footer {
     margin: 3rem 0;
     font-size: .9rem;
}
/* Background presets */
 .link-body-background-one {
     background-image: linear-gradient(111.7deg, #a529b9 19.9%, #50b1e1 95%);
}
 .link-body-background-two {
     background-image: linear-gradient(109.6deg, #ffb418 11.2%, #f73131 91.1%);
}
 .link-body-background-three {
     background-image: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
}
 .link-body-background-four {
     background-image: linear-gradient(to bottom, #ff758c, #ff7eb3);
}
 .link-body-background-five {
     background-image: linear-gradient(292.2deg, #3355ff 33.7%, #0088ff 93.7%);
}
 .link-body-background-six {
     background: linear-gradient(to bottom, #fc5c7d, #6a82fb);
}
 #sidebar3 {
     display: none;
}
 #contacts-forms {
     width: 100%;
     margin-bottom: 10px;
}
 #widget-contact {
     border: 2px solid #e74c3c;
     position: fixed;
     top: 15%;
     left: 50%;
     width: 400px;
     height: auto;
     background-color: #fff;
     z-index: 1000;
     display: none;
     margin: 0 0 0 -200px;
}
 #area-overlay {
     position: fixed !important;
     z-index: 999;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: #000;
     display: none;
}
 .contact-form-widget {
     margin-left: auto;
     margin-right: auto;
     width: 600px;
     max-width: 100%;
     padding: 25px;
     background: #fff;
}
 .contact-title {
     text-align: center;
     font: 35px fantasy;
     color: #121212;
     margin-bottom: 25px;
}
 .contactf-name, .contactf-email {
     float: left;
     width: 47%;
}
 .contactf-name {
     margin-right: 6%;
}
 .name-icon img, .email-icon img {
     background: transparent !important;
     border: medium none !important;
     box-shadow: none !important;
     width: 16px !important;
     height: 16px !important;
}
 .name-icon, .email-icon {
     position: absolute;
     z-index: 1;
     margin: 1px;
}
 .contact-form-name, .contact-form-email, .contact-form-email-message, .contact-form-name:hover, .contact-form-name:focus, .contact-form-email:hover, .contact-form-email:focus, .contact-form-email-message:hover, .contact-form-email-message:focus {
     width: 100%;
     max-width: 100%;
     margin: 0 0 25px;
     padding: 10px 10px 10px 25px;
     font: bold 16px;
     text-shadow: 0 1px 2px #ddd;
     color: #121212;
     background: transparent !important;
     border-color: #121212;
     border-width: 0 0 2.5px;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
}
 .contact-form-name, .contact-form-email {
     height: 40px;
}
 .contact-form-email-message, .contact-form-email-message:hover, .contact-form-email-message:focus {
     padding: 10px !important;
}
 .contact-form-email-message {
     height: 150px;
     border-width: 2.5px !important;
}
 .contact-form-button-submit, .contact-form-button-submit:hover {
     background: #121212 !important;
     width: 30%;
     height: 37px;
     font: bold 13px "Lucida Grande";
     letter-spacing: 2px;
     color: #fff;
     text-align: center;
     border: medium none;
     cursor: pointer;
     display: inline;
     margin: 0 auto;
     outline: none;
}
 .contact-form-error-message-with-border {
     width: 100%;
     margin: 2px;
     padding: 10px;
     color: #ff0404;
     background: transparent !important;
     border-color: #ff0404;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     border-style: solid;
     border-width: 2px;
     text-align: center;
}
 .contact-form-success-message-with-border{
     width: 100%;
     margin: 2px;
     padding: 10px;
     color: #00cc00;
     background: transparent !important;
     border-color: #00cc00;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     border-style: solid;
     border-width: 2px;
     text-align: center;
}
 .contact-form-cross {
     border: medium none !important;
     box-shadow: none !important;
     padding: 0 !important;
     width: 11px !important;
     height: 11px !important;
     float: right;
     margin: 7px;
}
 
